@font-face{
    font-family: "BebasNeue";
    src: url("/font/BebasNeueRegular.ttf");
}

@font-face{
    font-family: "BebasNeueBold";
    src: url("/font/BebasNeueBold.ttf");
}
@font-face{
    font-family: "BebasNeueLight";
    src: url("/font/BebasNeueLight.ttf");
}